<ion-header>
  <ion-toolbar>
    <a class="btn" href="/informations">
      <ion-icon slot="start" name="arrow-back"></ion-icon>
        Back to home
    </a>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title">
    <h1 class="ion-padding">Language</h1>
  </div>
  <ion-list>
    <ion-accordion-group>
      <ion-accordion value="names" toggle-icon="arrow-down-circle">
        <ion-item slot="header">
          <ion-label>Add Language</ion-label>
        </ion-item>
    
        <ion-list slot="content">
          <ion-label color="danger" class="invalide">{{error}}</ion-label>
          <ion-item>
            <ion-label position="floating">Enter name here</ion-label>
            <ion-input  type="text" autocorrect="true" autofocus="true" [(ngModel)]="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Enter level here</ion-label>
            <ion-input  type="text" autocorrect="true" [(ngModel)]="level"></ion-input>
          </ion-item>
          <ion-button expand="block" (click) = 'addLanguage()'>Add</ion-button>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
    
    <ion-card *ngFor="let item of languageList">
      <ion-card-header>
        <ion-card-subtitle>{{item.niveau}}% level</ion-card-subtitle>
        <ion-card-title>{{item.nom}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-progress-bar color="primary" value="{{item.niveau/100}}"></ion-progress-bar>
      </ion-card-content>
        <ion-button color="danger" expand="block" (click)="deleteLanguage(item.id)">Delete</ion-button>
    </ion-card>
  </ion-list>

 
</ion-content>
