<ion-app>

  
  <ion-content class="ion-padding">
    <div class="title">
      <h1 class="ion-padding">SignUp 😃😃</h1>
    </div>
    <ion-text color="danger" class="invalide">{{error}}</ion-text>
    <ion-item class="ion-margin-bottom">
      <ion-label position="floating">Enter your e-mail address</ion-label>
      <ion-input  type="email" autocorrect="true" autofocus="true"></ion-input>
    </ion-item>
    
    <ion-item class="ion-margin-bottom"> 
      <ion-label position="floating" >Enter your password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="signin()">Connexion</ion-button>
    <div class="title">
        <p>-- OR --</p>
    </div>
    <ion-button expand="block" fill="outline" href="/create">
      Create account
    </ion-button>
    <!-- <ion-button expand="block" fill="outline" color="danger">
      <ion-icon ios="trash-outline"></ion-icon>
        Sign in with Google
    </ion-button> -->

  </ion-content>
</ion-app>