<ion-app>
  
  <ion-content class="ion-padding">
    <div class="title">
      <h1 class="ion-padding">SignIn 👋👋</h1>
    </div>

    <ion-text color="danger" class="invalide">{{error}}</ion-text>
    
    <!-- <ion-item class="ion-margin-bottom">
      <ion-label position="floating">Enter your full name</ion-label>
      <ion-input  type="text" autocorrect="true" autofocus="true"></ion-input>
    </ion-item> -->

    <ion-item class="ion-margin-bottom">
      <ion-label position="floating" [(ngModel)]="email">Enter your e-mail address</ion-label>
      <ion-input  type="email" autocorrect="true"></ion-input>
    </ion-item>

    <!-- <ion-item class="ion-margin-bottom">
      <ion-label position="floating">Enter your phone number</ion-label>
      <ion-input  type="tel"></ion-input>
    </ion-item>
     -->
    <ion-item class="ion-margin-bottom"> 
      <ion-label position="floating" [(ngModel)]="password">Enter your password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="signup()">Create account</ion-button>
    <ion-button class="sign-in-btn" fill="clear" href='/login'>
      Already have an account?
    </ion-button>
  </ion-content>
</ion-app>

