<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>06</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="06.css"/>
<script id="applicationScript" type="text/javascript" src="06.js"></script>
</head>
<body>
<div id="n_6">
	<div id="Bg">
		<svg class="Oval">
			<ellipse id="Oval" rx="241" ry="241" cx="241" cy="241">
			</ellipse>
		</svg>
		<svg class="Oval_s">
			<ellipse id="Oval_s" rx="176.5" ry="176.5" cx="176.5" cy="176.5">
			</ellipse>
		</svg>
	</div>
	<div id="Photo">
		<img id="Rectangle" src="Rectangle.png" srcset="Rectangle.png 1x, Rectangle@2x.png 2x">
			
	</div>
	<div id="Certifications">
		<div id="PHP_Framework_certi">
			<span>PHP Framework (certificate): <br/>Zend, Codeigniter, Symfony.<br/>Programming Languages: <br/>JavaScript, HTML5, PHP OOP, CSS, SQL, MySQL.</span>
		</div>
		<div id="Certifications_x">
			<span>Certifications</span>
		</div>
	</div>
	<div id="Education">
		<div id="Bachelor_of_Science">
			<span>Bachelor of Science: Computer Information Systems - 2014<br/>Columbia University, NY</span>
		</div>
		<div id="Education_">
			<span>Education</span>
		</div>
	</div>
	<div id="Experience">
		<div id="Luna_Web_Design">
			<span>Luna Web Design</span>
		</div>
		<div id="Web_Developer_0920">
			<span>Web Developer, 09/2015 to 05/2019, New York</span>
		</div>
		<div id="Cooperate_with_desig">
			<span>Cooperate with designers to create clean interfaces and simple, intuitive interactions and experiences.</span>
		</div>
		<div id="Develop_project_conc">
			<span>Develop project concepts and maintain optimal workflow.</span>
		</div>
		<div id="Work_with_senior_dev">
			<span>Work with senior developer to manage large, complex design projects for corporate clients.</span>
		</div>
		<div id="Complete_detailed_pr">
			<span>Complete detailed programming and development tasks for front end public and internal websites as well as challenging back-end server code.</span>
		</div>
		<div id="Carry_out_quality_as">
			<span>Carry out quality assurance tests to discover errors and optimize usability.</span>
		</div>
		<div id="Text">
			<span>•</span>
		</div>
		<div id="Text_ba">
			<span>•</span>
		</div>
		<div id="Text_bb">
			<span>•</span>
		</div>
		<div id="Text_bc">
			<span>•</span>
		</div>
		<div id="Text_bd">
			<span>•</span>
		</div>
		<div id="Experience_be">
			<span>Experience</span>
		</div>
	</div>
	<div id="Languages">
		<div id="Languages_bg">
			<span>Languages</span>
		</div>
		<div id="Spanish_Chinese_Germ">
			<span>Spanish  <br/>Chinese  <br/>German  </span>
		</div>
		<svg class="Rectangle_bi">
			<rect id="Rectangle_bi" rx="0" ry="0" x="0" y="0" width="156" height="1">
			</rect>
		</svg>
		<svg class="Rectangle_bj">
			<rect id="Rectangle_bj" rx="0" ry="0" x="0" y="0" width="156" height="1">
			</rect>
		</svg>
		<svg class="Rectangle_bk">
			<rect id="Rectangle_bk" rx="0" ry="0" x="0" y="0" width="156" height="1">
			</rect>
		</svg>
		<svg class="Rectangle_bl">
			<rect id="Rectangle_bl" rx="0" ry="0" x="0" y="0" width="101" height="1">
			</rect>
		</svg>
		<svg class="Rectangle_bm">
			<rect id="Rectangle_bm" rx="0" ry="0" x="0" y="0" width="78" height="1">
			</rect>
		</svg>
		<svg class="Rectangle_bn">
			<rect id="Rectangle_bn" rx="0" ry="0" x="0" y="0" width="78" height="1">
			</rect>
		</svg>
	</div>
	<div id="Programming">
		<div id="Programming_bp">
			<span>Programming</span>
		</div>
		<div id="PHP_OOP_MySQL_CSS_C">
			<span>PHP OOP<br/>MySQL<br/>CSS<br/>C++</span>
		</div>
		<svg class="Rectangle_br">
			<rect id="Rectangle_br" rx="0" ry="0" x="0" y="0" width="156" height="1">
			</rect>
		</svg>
		<svg class="Rectangle_bs">
			<rect id="Rectangle_bs" rx="0" ry="0" x="0" y="0" width="156" height="1">
			</rect>
		</svg>
		<svg class="Rectangle_bt">
			<rect id="Rectangle_bt" rx="0" ry="0" x="0" y="0" width="156" height="1">
			</rect>
		</svg>
		<svg class="Rectangle_bu">
			<rect id="Rectangle_bu" rx="0" ry="0" x="0" y="0" width="156" height="1">
			</rect>
		</svg>
		<svg class="Rectangle_bv">
			<rect id="Rectangle_bv" rx="0" ry="0" x="0" y="0" width="135" height="1">
			</rect>
		</svg>
		<svg class="Rectangle_bw">
			<rect id="Rectangle_bw" rx="0" ry="0" x="0" y="0" width="105" height="1">
			</rect>
		</svg>
		<svg class="Rectangle_bx">
			<rect id="Rectangle_bx" rx="0" ry="0" x="0" y="0" width="75" height="1">
			</rect>
		</svg>
		<svg class="Rectangle_by">
			<rect id="Rectangle_by" rx="0" ry="0" x="0" y="0" width="45" height="1">
			</rect>
		</svg>
	</div>
	<div id="Skill_Highlights">
		<div id="Skill_Highlights_b">
			<span>Skill Highlights</span>
		</div>
		<div id="Project_management_S">
			<span>Project management<br/>Strong decision maker<br/>Complex problem solver<br/>Creative design<br/>Innovative<br/>Service-focused</span>
		</div>
	</div>
	<div id="Summary">
		<div id="Senior_Web_Developer">
			<span>Senior Web Developer specializing in front end development. Experienced with all stages of the development cycle for dynamic web projects. Well-versed in numerous programming languages including HTML5, PHP OOP, JavaScript, CSS, MySQL. Strong background in project management and customer relations.</span>
		</div>
	</div>
	<div id="Contact">
		<div id="n_77_Great_Portland_S">
			<span>177 Great Portland Street,  London W5W 6PQ</span>
		</div>
		<div id="n_2010-1234-5678">
			<span>+82(0)10-1234-5678</span>
		</div>
		<div id="jeansjeans-studioc">
			<span>jeans@jeans-studio.com</span>
		</div>
	</div>
	<div id="Name">
		<div id="CHRISTOPHER">
			<span>CHRISTOPHER </span>
		</div>
		<div id="MORGAN">
			<span>MORGAN</span>
		</div>
	</div>
</div>
</body>
</html>